{{#if notificationErr}}
    <div class="alert alert-warning show fade mb-3" role="alert">
        <strong>{{notificationErr}}</strong>
    </div>
{{/if}}
{{#if notificationSuccess}}
    <div class="alert alert-success show fade mb-3" role="alert">
        <strong>{{notificationSuccess}}</strong>
    </div>
{{/if}}
